.Form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
}

label {
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}

input {
}

label > input {
  display: block;
  width: 250px;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 250ms ease;

  &:hover,
  &:focus {
    border-color: #8f8e8e;
  }
}

button {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #0d0c0c;

  background-color: #cfd0d1;
  border-color: #6e6d6d;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #afb0b4;
}

.Error {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
}
